.App {
  text-align: center;
  background-color: beige;
  height: 100vh;
}
.box{


  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.table{
    background: beige;
    border-radius: 5px;
 
    }
.card{
      width: 70rem;
      margin-left: 170px;
      
     

  }